@model DrustvenaPlatformaVideoIgara.Models.ProductPublisher

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductPublisher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductPublisherId" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Product</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId">
                    <option value="">Select a product</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label">Publisher</label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId">
                    <option value="">Select a publisher</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
