@model IEnumerable<DrustvenaPlatformaVideoIgara.Models.Review>

<h1>User Reviews</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Rating</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = review.Product.ProductId })">
                        @review.Product.ProductName
                    </a>
                </td>
                <td>
                    @if (review.Rating.HasValue)
                    {
                        @if (review.Rating.Value)
                        {
                            <text>Positive</text>
                        }
                        else
                        {
                            <text>Negative</text>
                        }
                    }
                    else
                    {
                        <text>Not Rated</text>
                    }
                </td>
                <td>@review.Comment</td>
            </tr>
        }
    </tbody>
</table>
